<h1>Hello CodeWizard!</h1>
<p>
    <li>thing 1</li>
    <li>thing 2</li>
    <li>thing 3</li>
    <li>thing 4</li>
    <li>thing 5</li>
    <li>etc...</li>
    <button type="button" class="btn btn-raised btn-primary" href="https://www.youtube.com/watch?v=EE-xtCF3T94&list=PLQHlZrj0jF-hKpvHWuwTH8SKTVIG1JpLI">
        Dark
    </button>




    <div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
</p>
