<nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                                        <!--▼▼▼ the '#' should eventually be changed to the actual href-->
                <a class="navbar-brand" href="#">
                    <h5 class="text-white">
                        <i class="fas fa-magic fa-lg "></i>
                    </h5>
            </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                                            <!-- ▼▼▼ the '#' should eventually be changed to the actual href-->
                <a class="nav-item nav-link py-0" href="#">
                    <button type="button" class="btn btn-raised btn-primary text-capitalize">
                        Home
                    </button>
                </a>
                <a class="nav-item nav-link py-0" href="#">
                    <button type="button" class="btn btn-raised btn-primary text-capitalize">
                        Features
                    </button>
                </a>
                <a class="nav-item nav-link py-0" href="#">
                    <button type="button" class="btn btn-raised btn-primary text-capitalize">
                         Pricing
                    </button>
                </a>
                <a class="nav-item nav-link disabled py-0" href="#">
                    <button type="button" class="btn btn-raised btn-primary disabled text-capitalize">
                         Disabled
                    </button>
                </a>
            </div>
          </div>
            </div>

        </nav>

<!--navbaar with reduced button padding-->

<nav class="navbar navbar-dark py-0 bg-dark navbar-expand-lg py-md-1">
            <a class="navbar-brand text-white" href="#"><i class="fas fa-magic fa-lg "></i></a>

        </nav>


<ul class="nav navbar-nav">
                <li class="nav-item nav-link waves-effect"><a href="/">Home Feed<div class="ripple-container"></div></a></li>
                <li><a href="/discover"><div class="ripple-container">Discover</div></a></li>
                <li><a href="/profile">Profile<div class="ripple-container"></div></a></li>
                <li><a href="/settings">Settings<div class="ripple-container"></div></a></li>

                <li class="nav-item"><a href="#" class="nav-link py-0"><button type="button" class="btn btn-raised btn-primary text-capitalize  text-white py-1 px-2">
                        Home</button></a></li>
            </ul>




<nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                                            <!--▼▼▼ the '#' should eventually be changed to the actual href-->
                <a class="navbar-brand" href="#">
                    <h5 class="text-white">
                        <i class="fas fa-magic fa-lg "></i>
                    </h5>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                                                    <!-- ▼▼▼ the '#' should eventually be changed to the actual href-->
                        <a class="nav-item nav-link py-0" href="/">
                            <button type="button" class="btn-sm btn-raised btn-outline-info text-white text-capitalize">Home Feed</button>
                        </a>
                        <a class="nav-item nav-link py-0" href="/discover">
                            <button type="button" class="btn btn-raised btn-sm btn-primary text-capitalize">Discover</button>
                        </a>
                        <a class="nav-item nav-link py-0" href="/profile">
                            <button type="button" class="btn btn-raised btn-outline-primary text-capitalize">Profile</button>
                        </a>
                        <a class="nav-item nav-link disabled py-0" href="coming-soon">
                            <button type="button" class="btn btn-raised btn-outline-primary disabled text-capitalize">Coming Soon</button></a>
                    </div>
              </div>
            </div>
        </nav>



<!--Example navbar from Documentation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>