<?xml version="1.0" encoding="UTF-8"?>
<!--
	Author:			Caleb Capps
	Date:			6/15/2022
	Last Revised:	6/19/2022
	Usage Notes:	Elements within a child are used for mutable data only
-->
<!--
	Unit Convention: 
		Length:		inches
		Force:		pounds
		Time:		milliseconds
		Angles:		degrees (unless otherwise indicated)
-->
<metadata>
	<sensors>
		<servo id="S1" read="true" write="true">
			<servoPosition>		0 </servoPosition>
			<positionInit>		0 </positionInit>
			<positionOffset>	0 </positionOffset> <!--Used for servo calibration-->
		</servo>
		<servo id="S2" read="true" write="true">
			<servoPosition>		0 </servoPosition>
			<positionInit>		0 </positionInit>
			<positionOffset>	0 </positionOffset> <!--Used for servo calibration-->
		</servo>
	</sensors>
	<pose>
		<position>
			<x_cord>	0 </x_cord>
			<y_cord>	0 </y_cord>
		</position>
	</pose>
</metadata>