<?xml version="1.0" encoding="UTF-8"?>
<sensors>
	<!--Elements within a child should be used for mutable data only-->
	<servo id="S1" read="true" write="true">
		<position>
			90
		</position>
		<positionInit>
			30
		</positionInit>
		<positionOffset>
			1.5
		</positionOffset>
	</servo>
	<servo id="S2" read="true" write="true">
		<position>
			45
		</position>
		<positionInit>
			30
		</positionInit>
		<positionOffset>
			2
		</positionOffset>
	</servo>
</sensors>
